requests
google-generativeai
python-dotenv
crewai
crewai-tools
streamlit
SpeechRecognition
edge-tts
pygame
phidata
pyaudio
chromadb 
tavily-python
crewai 
langchain 
faiss-cpu
pandas
langchain-text-splitters
langchain-google-genai
langchain-community
faiss-cpu

